<div class="padding-top">

    <div class="principal">
        <div style="margin-right: 45px;">
            <font size="7">
                <p class="fonte">Welcome to API The Dog</p> 
            </font>
            <font size="6" color="gray">
                <p class="fonte">A public service API all about Dogs. Because everyday is a Dog Day. </p>
            </font>
            <a href="breeds.php" type="button" class="btn btn-dark">Começar</a>
        </div>

        <div>
            <img class="img-responsive bd-placeholder-img rounded-circle"
            src="../assets/images/dog.png">
        </div>

    </div><!-- /.principal -->
