<div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a class="navbar-brand mb-0 h1" href="index.php" style="color: black;">The Dog</a>
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="breeds.php" class="nav-link px-2 link-dark">Breeds</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Categories</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Votes</a></li>
          </ul>
          <style>
            li:hover {
              color: gray;
              transition: 0.5s;
              opacity: 0.7;
            }
          </style>
        </header>

